@use '../abstracts/' as *;

.btn {
  justify-self: center;
  width: 15.9rem;
  height: 4.2rem;
  font-family: $body-font;
  font-size: $font-size;
  font-weight: 300;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  outline: none;
  border: 0.14em solid $dark-gray;
  border-radius: 0.14em;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
  &:hover,
  &:focus {
    color: $white;
    background-color: $black;
    border-color: $black;
  }
}
